<div class = 'col-xs-10 col-xs-offset-1'>

<h1>What would you like to promote your pawn to?</h1>
	<%= link_to 'Queen', game_promote_update_path(:type => ':queen', :image => 'white-queen.png') %>, 
	<%= link_to 'Rook', game_promote_update_path(:type => ':rook', :image => 'white-rook.png') %>, 
	<%= link_to 'Bishop', game_promote_update_path(:type => ':bishop', :image => 'white-bishop.png') %>, 
	<%= link_to 'Knight', game_promote_update_path(:type => ':knight', :image => 'white-knight.png') %>

	<table id = 'chess'>
		<% @board.each_index do |y| %>
			<tr class = '<%= y %>' >
				<% @board[y].each_index do |x| %>
					<% if @board[y][x].nil? %>
						<td class = '<%= x %>'>
							<%= link_to game_piece_update_path(:x_axis => x, :y_axis => y), :method => 'put' do %>
							<p>&nbsp; &nbsp; &nbsp;</p>
							<p>&nbsp; &nbsp; &nbsp;</p>
							<% end %>
						</td>
					<% elsif @board[y][x].id == @piece.id %>
						<td class = '<%= x %> selected'>
							<%= image_tag @piece.image %>
						</td>
					<% else %>
						<td class = '<%= x %>'>
							<%= link_to game_piece_select_path(@board[y][x].game_id, @board[y][x].id) do %>
							<%= link_to game_piece_update_path(:x_axis => x, :y_axis => y), :method => 'put' do %>
							<%= image_tag @board[y][x].image, :class => 'responsive' %>
							<% end %>
							<% end %>
						</td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>
