<div class = 'col-xs-10 col-xs-offset-1'>

	<table id = 'chess'>
		<% @board.each do |row| %>
		<tr class = '<%= @board.index(row) %>' >
			<% row.each do |square| %>
				<% if square.nil? %>
					<td class = '<% row.index(square) %>'><%= link_to raw('&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;'), :url =>'#'%></td>
				<% else %>
				<td class = '<% row.index(square) %>'>
					<%= link_to game_piece_select_path(square.id) do %>
					<%= image_tag square.image, :class => 'responsive' %>
					<% end %>
				</td>
				<% end %>
			<% end %>
		</tr>
		<% end %>
	</table>

<%= @game.id %>
</div>
