<div class = 'col-xs-10 col-xs-offset-1'>

	<table id = 'chess'>
		<% @board.each_index do |y| %>
			<tr class = '<%= y %>' >
				<% @board[y].each_index do |x| %>
					<% if @board[y][x].nil? %>
						<td class = '<%= x %>'></td>
					<% else %>
						<td class = '<%= x %>'>
							<%= link_to game_piece_select_path(@board[y][x].game_id, @board[y][x].id) do %>
							<%= image_tag @board[y][x].image, :class => 'responsive' %>
							<% end %>
						</td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>
